<!DOCTYPE html>
<html>
  <head>
    <title>OBS Controller</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
  </head>
  <body>
    <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
    <main>
      <div class="row">
        {% for scene in scenes %}
        <div class="col s4 l2">
          <div class="card" data-scene-name="{{ scene.name }}">
            <div class="card-content">
              <span class="card-title center-align">{{scene.name}}</span>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </main>
    <footer class="page-footer">
      <div class="row">
        <form class="col s12">
          <div class="input-field col s12 m3">
            <select id="camSelect">
              <option value="" disabled selected>Choose your webcam</option>
              {% for webcam in webcams %}
              <option value="{{ webcam.name }}">{{ webcam.name }}</option>
              {% endfor %}
            </select>
            <label class="white-text"
              ><i class="material-icons left">camera_alt</i>Select Webcam</label
            >
          </div>
        </form>
      </div>
    </footer>

    <!-- Fullscreen Modal -->
    <div id="fullScreenModal" class="modal">
      <div class="modal-content">
        <h4>Enable Fullscreen?</h4>
        <p>This works best in fullscreen</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-red btn-flat"
          >Dismiss</a
        >
        <a
          href="#!"
          id="enableFullscreen"
          class="modal-close waves-effect waves-green btn-flat"
          >Enable</a
        >
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
